* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}

.Taska .description {
  margin-bottom: 10px;
}

.Taska .description,
.Taska pre {
  padding-left: 20px;
}

.wrap {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.Tiles {
  display: grid;

  grid-template-columns: repeat(2, min-content);
  justify-items: left;
  gap: 10px;
}

.Tile {
  position: relative;
}

.Tile__title {
  max-width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  position: absolute;
  left: 10px;
}

.Tile__image {
  border-radius: 4px;
}

.Buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.Button {
  border: 1px solid gray;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 300ms ease;
}

.Button.Button--disabled {
  user-select: none;
  background-color: darkgray;
  cursor: not-allowed;
}

.Button:hover {
  background-color: darkgray;
}
